{% extends "base.html" %}

{% block title %}contact{% endblock title %}
{% block body %}
<div class="container-fluid px-0 mb-3">
    <img class="d-block w-100 mx-0"
        src="https://plus.unsplash.com/premium_photo-1682125235036-d1ab54136ff4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
        alt="Contact us" class="my-image">
    </div>
    
        <div class="container">
            <h1 class="text-center mb-3">Contact US </h3>
            <form method="post" action="/contact">
                {% csrf_token %}
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Tell me your name .. ">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Phone Number</label>
                <input type="number" class="form-control" id="phone" name="phone" placeholder="Enter your phone number ..">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Tell me email address ..">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Describe your reason</label>
                <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
              </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
        </div>
{% endblock body %}